<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/bootstrap-4.0.0-dist/css/login.css" th:href="@{bootstrap-4.0.0-dist/css/login.css}">
</head>
<body>
<div class="sidenav">
    <div class="login-main-text">
        <h2><a th:href="@{/}">Students</a> Login Page</h2>
        <p>Login or register from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form name="f" th:action="@{/login}" method="post" th:object="${userobject}">
                <div th:if="${param.error}" class="alert alert-danger roundMe">
                    <div class="text text-center">
                        <strong>Username or Password are wrong!</strong>
                    </div>
                </div>
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" class="form-control" placeholder="User Name" name="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <button type="submit" class="btn btn-black">Login</button>
                <!--<button type="submit" class="btn btn-secondary">Register</button>-->
            </form>
        </div>
    </div>
</div>
</body>
</html>